body {
    font-family:'Roboto', sans-serif;
}
.teamname {
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    text-align: center;
}
td.red {
    background-color: rgba(255, 0, 0, 0.5);
}
td.yellow {
    background-color: rgba(255, 255, 0, 0.5);
}
td.blue {
    background-color: rgba(0, 0, 255, 0.5);
}
td.victory {
    background-color: rgba(0, 255, 0, 0.5);
}

td.tie {
    background-color: rgba(0, 255, 255, 0.5);
}
