body {
    font-family:'Roboto', sans-serif;
}
.teamname {
    font-family:'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    z-index: 2;
    text-align: center;
}
td.red {
    background-color: rgba(255, 0, 0, 0.5);
}
td.yellow {
    background-color: rgba(255, 255, 0, 0.5);
}
td.blue {
    background-color: rgba(0, 0, 255, 0.5);
}
td.victory {
    background-color: rgba(0, 255, 0, 0.5);
}
td.tie {
    background-color: rgba(0, 255, 255, 0.5);
}
a:link {
   text-decoration: none;
   color: #073395;
}
a:visited {
   text-decoration: none;
   color: #073395;
}
a:hover {
   text-decoration: none;
   color: #073395;
}
a:active {
   text-decoration: none;
   color: #073395;
}

a.black:link {
   text-decoration: none;
   color: #000000;
}
a.black:visited {
   text-decoration: none;
   color: #000000;
}
a.black:hover {
   text-decoration: none;
   color: #000000;
}
a.black:active {
   text-decoration: none;
   color: #000000;
}

.headercontainer {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;

}

.container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;

}

.flex-item {
  background: rgb(198, 21, 21);
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

/* Accordion */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: none;
}
